body {
background-color:#a7cef3;
}
.block{
    float: left;
    position: static;
}
.clr {
    clear: both;
}
.head{
    width: 1600%;
    /*margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;*/
    height: 60px;
    border: 1px;
    
}

#content {
    float: left;
   width: 25%;

}
.clr {
    clear: both;
}
.work {text-align: center;

}
.web {
    height: 31px;
    width: 145px;
    left: 215px;
    top: 24px;
    border-radius: nullpx;
    

}
.studio {
    height: 16px;
width: 49px;
left: 453px;
top: 32px;
border-radius: nullpx;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #2196f3;

}

.head-web {
    width: 145px;
    height: 35px;
    font-size: 26px;
}



.head-studio {
    color: #2196F3;
    margin-left: 253px;
    margin-top: 32px;
    margin-right: 50px;
    margin-bottom: 32px;  
    

}
.head-portfolio {
    color: #212121;
    margin-left: 50px;    
    margin-right: 50px; 
    

}
.head-contact {
    color: #212121;
    margin-left: 50px;    
    margin-right: 150px;   

}

.head-mailto {
    
    margin-left: 150px;
    margin-right: 50px;    

}
.head-tell {
    margin-left: 50px;
    margin-right: 50px; 

}

.tittle {
    text-align: center;
    border: 2px;
    background-color: rgb(33, 33, 34);
    height: 200px;
    width: 1600px;
    left: 0px;
    top: 30px;
    border-radius: 0px;
    

}

.tittle_header {
    color: white;
    margin-left: 452px;
    margin-top: 50px;
    margin-right: 452px;
    margin-bottom: 580;
    display: inline;
}